# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#ignore package locks
singh_project/package-lock.json
api/package-lock.json
singh_project/yarn.lock
api/yarn.lock
package-lock.json
node_modules

# dependencies
singh_project/node_modules
api/node_modules
singh_project/.pnp
singh_project/.pnp.js

# testing
/coverage

# next.js
singh_project/.next/
singh_project/out/

# production
singh_project/build

# misc
singh_project/.DS_Store
singh_project/*.pem

# debug
singh_project/npm-debug.log*
singh_project/yarn-debug.log*
singh_project/yarn-error.log*
singh_project/.pnpm-debug.log*

# local env files
singh_project/.env*.local

# vercel
singh_project/.vercel

.env.local