
.main{
  height: 100vh;
  width: 100vw;
}

.backdrop{
  background-color: red;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gradientContainer{
  background-color: blue;
  width: 125%;
  height: 125%;
  position: relative;
  bottom:70%;
  left: -25%;
  transform: rotate(-15deg);
}